@model IEnumerable<Đồ_Án_BackUp.Models.ShoppingCart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Users/Views/Shared/_UserMasterLayout.cshtml";
}

<style>
    img {
        width: 200px;
    }
</style>

<div class="mt-5 mb-5" style="margin-left : 30px;">
    @Html.ActionLink("Trang Chủ", "Index", "Home2", new { @class = "text-uppercase btn btn-outline-primary" }) ------->
    @Html.ActionLink("Giỏ Hàng", "Index", "Categories", new { @class = "text-uppercase btn btn-outline-success" })
</div>

<div class="container d-flex flex-column align-items-center">
    <table class="table table-dark">
        <thead>
            <tr>
                <th> Ảnh Sản Phẩm </th>
                <th> Tên Sản Phẩm </th>
                <th> Giá </th>
                <th> Số Lượng </th>
                <th> Tổng Giá Trị  </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var items in Model)
            {
                if (items.Customer.Username == Session["Username"].ToString())
                {
                    <tr>

                        <td> <img src="@Html.DisplayFor(model => items.Product.ProductImage)" /></td>

                        <td> @Html.DisplayFor(model => items.Product.ProductName)</td>

                        <td> @Html.DisplayFor(model => items.Product.ProductPrice) <label>VNĐ</label></td>



                        <td class="">

                            <button class="btn btn-success btn-plus" onclick="tangSoluong()"> + </button>

                            <label class="thanhgiasoluong">  0 </label>

                            <button class="btn btn-success btn-minus" onclick="giamSoLuong()"> - </button>

                        </td>



                        <td>

                            <p> 0 </p>

                        </td>

                    </tr>
                }


            }
        </tbody>

        <tfoot>

        </tfoot>
    </table>

    <div class="TongGiaTri">
        <p> Tổng Giá Trị Đơn Hàng </p>
    </div>

    <div class="ThanhToan">
        <div class="form-group">
            @Html.ActionLink("Xác Nhận Đặt Hàng" , "XacNhanDatHang" , "UserOrderInformartion")) 
        </div>
    </div>

</div>

<script>
    function tangSoluong() {
        var quantityElement = event.target.parentElement.querySelector(".thanhgiasoluong");
        var totalPriceElement = event.target.parentElement.nextElementSibling.querySelector("p");

        var currentQuantity = parseInt(quantityElement.textContent);
        var price = parseFloat(event.target.parentElement.previousElementSibling.textContent.replace("VNĐ", ""));

        currentQuantity++;
        var newTotalPrice = currentQuantity * price;

        quantityElement.textContent = currentQuantity;
        totalPriceElement.textContent = newTotalPrice.toFixed(2) + " VNĐ";
    }

    function giamSoLuong() {
        var quantityElement = event.target.parentElement.querySelector(".thanhgiasoluong");
        var totalPriceElement = event.target.parentElement.nextElementSibling.querySelector("p");

        var currentQuantity = parseInt(quantityElement.textContent);
        var price = parseFloat(event.target.parentElement.previousElementSibling.textContent.replace("VNĐ", ""));

        currentQuantity--;
        var newTotalPrice = currentQuantity * price;

        quantityElement.textContent = currentQuantity;
        totalPriceElement.textContent = newTotalPrice.toFixed(2) + " VNĐ";

    }
</script>
